.item {
  background-color: rgb(190, 229, 193);
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 2px;
}
.item:not(:last-child) {
  margin-bottom: 5px;
}

.status {
  border-radius: 10px;
  margin-right: 5px;
  border: 5px solid rgb(247, 3, 3);
}

.statusActive {
  border-radius: 5px;
  margin-right: 10px;
  border: 5px solid green;
}
.avatar {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 8px;
}
.name {
  margin: 0;
  padding-left: 10px;
}
